@media (width <= 375px) {
  .header {
    width: 100%;
  }

  main li {
    width: 100vw;
  }

  .illustration {
    display: block;
    max-width: 375px;
    max-height: 375px;
  }
  article h2 {
    display: block;
    padding-right: 20px;
  }

  .floppy-svg {
    width: 28px;
  }
  .modal svg {
    position: relative;
    z-index: 1;
    width: 39px;
  }

  .modal button {
    width: 257px;
  }
  .dialog_button {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 306px;
    height: 80px;
  }
  .dialog_button svg {
    height: 28px;
    margin: 0px auto 0px;
  }
}
