/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:

✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  width: clamp(375px, 70%, 700px);
  margin-right: auto;
  margin-left: auto;
  font-family: var(--main-font), sans-serif;
  background: var(--background-stripes);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  max-inline-size: 700px;
  font-variation-settings: "wght" var(--base-font-weight);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 100px 0;
  border: 2px solid var(--main-text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: bold;
  background-color: var(--main-bg-color);
}

.logo-group {
  justify-self: center;
  align-self: center;
  padding: clamp(7.5rem, 32%, 8.5rem) clamp(0.875rem, 0.037%, 7.53125rem) 0;
  text-align: center;
}
a.logo {
  color: var(--main-text-color);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1em;
}
h1 {
  padding-top: 20px;
  color: var(--main-text-color);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}
.theme-menu {
  justify-self: center;
  width: min-content;
  padding: 25px 0 21px;
  color: var(--main-text-color);
}
.theme-menu__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
}
.theme-menu__item {
  position: relative;
  padding-inline-start: 21px;
}
.theme-menu__button {
  border: none;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}
.theme-menu__button::before {
  content: "";
  padding: 0;
}
.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.theme-menu__button:focus {
  outline: none;
}
.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 2px;
  left: -90px;
  color: var(--main-text-color);
  font-size: 1em;
  line-height: 1em;
  animation: arrow_moves 0.5s infinite;
  animation-timing-function: ease-in-out;
  animation-duration: alternate;
}
.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--main-text-color);
  transition: width 300ms ease-in, background-color 1s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--main-text-color);
}

main li {
  margin-bottom: 50px;

  min-inline-size: 375px;
  max-inline-size: 700px;

}
main article {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid var(--main-text-color);
  background-color: var(--main-bg-color);
}
article h2 {
  min-height: 33px;
  border-bottom: 2px solid var(--main-text-color);
  color: var(--main-text-color);
  font-variation-settings: "wght" var(--header-font-weight);
  font-size: 18px;
  line-height: 21.78px;
  padding: 5px 10px 3px;
}
article img {
  object-fit: cover;
  overflow: hidden;
  inline-size: 100%;
  block-size: 100%;
}
article .content {
  display: grid;
  border-top: 2px solid var(--main-text-color);
  padding: 25px 25px 0px 25px;
}
article p {
  display: block;
  padding-bottom: 25px;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 21px;
}

article .card__icon-button {
  border: none;
  padding: 0;
  color: transparent;
  background-color: transparent;
  transition: color 0.3s ease;
}

article .card__icon-button:focus-visible {
  outline: 2px solid var(--main-text-color);
  color: var(--main-text-color);
}

article .card__like-button {
  justify-self: end;
  align-content: end;
  font-size: 14px;
  line-height: 30px;
  text-transform: capitalize;
  block-size: 38px;
  inline-size: 130px;
}

article .card__like-button::after {
  content: "";
  position: absolute;
  right: -100%;
  bottom: -16px;
  left: 0;
  background-color: var(--like-button);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
  block-size: 55px;
  inline-size: 130px;
}

article .card__like-button:hover::after {
  right: 0;
  background-color: var(--like-button);
  transform: scaleX(1);
  transform-origin: left;
}

article .illustration {
  position: relative;
}


.watermark {
  position: absolute;
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--main-text-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow: -1px 0 var(--watermark-stroke), 0 1px var(--watermark-stroke),
    1px 0 var(--watermark-stroke), 0 -1px var(--watermark-stroke);
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--watermark-stroke)) or
    (-webkit-text-stroke: 1px var(--watermark-stroke))
) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--watermark-stroke);
    text-stroke: 1px var(--watermark-stroke);
  }
}

.button-block {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: end;
  align-items: center;
  gap: 8px;
  padding-inline-end: 25px;
  padding-block-end: 25px;

}
/*- Кнопки ------------------------------------------------- */
.button {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 2px solid var(--main-text-color);
  overflow: hidden;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  background-color: var(--main-bg-color);
  transition: box-shadow 0.5s ease-in-out;
  cursor: pointer;
  color: var(--main-text-color);
}
.button:focus {
  border: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 2px var(--main-text-color);
  outline: 2px solid var(--main-text-color);
}
.button span {
  position: relative;
  z-index: 1;
  color: var(--like-button);
  font-size: 14px;
  mix-blend-mode: difference;
}
.button::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--main-text-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}
.button:hover::after {
  transform: translateX(0);
  cursor: pointer;
}
.floppy-svg {
  position: relative;
  z-index: 1;
  width: 21px;
  fill: var(--like-button);
  mix-blend-mode: difference;
}

.dialog_button {
  grid-template-columns: 18px 1fr;
  gap: 10px;
  width: 335px;
  height: 51px;
  margin: 50px auto 103px;
  padding: 15px 18px 14px;
  font-size: 14px;
  line-height: 12.6px;
}

/*- блок лайков ------------------------------------------------- */

/*- Модальное окно ------------------------------------------------- */
.modal:is([open]) {
  border: none;
  outline: 2px solid var(--main-text-color);
  padding: 0px;
  color: var(--main-text-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--main-bg-color);
  z-index: 1;
}
.modal .content {
  display: grid;
  grid-template-columns: 39px 1fr;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.modal svg {
  position: relative;
  z-index: 1;
  width: 39px;
  color: var(--main-text-color);
}

.modal::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.modal button {
  width: 293px;
  height: 38px;
  padding: 0px;
  text-transform: uppercase;
}

.modal:is([open]) form {
  display: grid;
  gap: 30px;
  align-self: center;
}

.modal:is([open]) .floppy {
  align-self: center;
  width: 39px;
  fill: var(--main-text-color);
}

.modal form {
  padding: 30px;
}

.modal span {
  display: block;
  max-width: 200px;
  line-height: 21px;
}
/*- Фильтры ------------------------------------------------- */

.filter-saturate-rotate {
  filter: blur(2px) saturate(230%) hue-rotate(200deg);
  clip-path: inset(0);
}

.filter-saturate {
  filter: saturate(120%);
}

.filter-blur {
  filter: blur(4px);
  clip-path: inset(0);
}

.filter-sepia-opacity-blur {
  filter: sepia(0.45) opacity(0.3);
}

.filter-hue-rotate {
  filter: hue-rotate(20deg);
}
.filter-contrast {
  filter: contrast(40%);
}
.filter-invert {
  filter: invert(90%);
}
.filter-brightness-grayscale {
  filter: brightness(20%) grayscale(100);
}

@media (width < 376px) {
  .header {
    width: 100%;
  }

  main li {
    width: 100vw;
  }

  .illustration {
    display: block;
    max-width: 375px;
    max-height: 375px;
  }
  article h2 {
    display: block;
    padding-right: 20px;
  }

  .floppy-svg {
    width: 28px;
  }
  .modal svg {
    position: relative;
    z-index: 1;
    width: 39px;
  }

  .modal button {
    width: 257px;
  }
  .dialog_button {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 306px;
    height: 80px;
  }
  .dialog_button svg {
    height: 28px;
    margin: 0px auto 0px;
  }
  .watermark {
    right: 13px;
  }
  .theme-menu__list {
    gap: 4px;
  }
  h2{
    padding: 4px 0;
    line-height: 1.4em;
  }
  article .card__like-button {
    line-height: 34px;
    block-size: 36px;
    inline-size: 130px;
  }
  .modal {
    width: 341px;
    border: none;
  }
}
